[Unit]
After=local-fs.target network.target
Description=Refresh letsencrypt certificates

[Service]
Type=oneshot
WorkingDirectory=/var/lib/dehydrated
ExecStart=/usr/bin/dehydrated -f /etc/dehydrated/config -c
User=root
Group=root
